.alert_total_list {
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 209, 209);
  background-color: rgb(255, 255, 255);
}

.alert_total_list.active {
  background-color: azure;
}

.alert_total_list .alert_date {
  font-size: 14px;
  color: #666;
}
