.Bottom > div {
  width: 60px;
  height: 60px;
}

.Bottom .image_box {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
}

.Bottom .image_box > .bottom_img {
  width: 40px;
}
.bottom_text {
  margin: 3px;
  text-align: center;
  font-size: 12px;
  color: rgb(100, 100, 100);
}

.Bottom .image_box > .bottom_img.active {
  margin-top: -42px;
}
.bottom_text.active {
  color: black;
}

.login_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.6);
  z-index: 1000;
}

@media (max-width: 800px) {
  .Bottom {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.96);
  }
}
