.Header {
  display: flex;
  z-index: 100;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.97);
}

.Header > div {
  flex: 1;
}

.header_title {
  margin: 0;
  text-align: center;
  font-size: 18px;
}

.header_left {
  display: flex;
  align-items: center;
}
.header_left > img {
  width: 25px;
  cursor: pointer;
}
