.HomeButton button {
  display: block;
  width: 100%;
  border: none;
  padding: 20px 0;
  color: rgb(35, 132, 243);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-weight: 500;
}
.HomeButton {
  width: 60%;

  margin: 25px auto;
}
