.Infomain {
  padding: 20px 8%;
}

.Infomain > div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.Infomain > .info_profile {
  padding: 10px 20px;
}

.Infomain .info_profile_line {
  border: 1px solid #eee;
  margin: 10px 0;
  width: 100%;
}

.Infomain .info_profile_button {
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Infomain .info_profile_button > button {
  border: none;
  width: 30%;
  padding: 12px 0;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.Infomain .info_config {
  margin: 30px 0;
  padding: 3px 20px;
}
.Infomain .info_config > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Infomain .info_config > div img {
  width: 20px;
  margin-right: 10px;
}
