.symptom_title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
  color: white;
}
.symptom_subtitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.symptom_first {
  background-color: #50c439;
  padding: 20px 0;
  margin: 25px;
  border-radius: 10px;
}
.symptom_first_list {
  font-size: 20px;
  text-align: center;
  color: rgb(235, 235, 255);
}

.symptom_sec {
  background-color: #2c86da;
  padding: 20px 0;
  margin: 25px;
  border-radius: 10px;
}
.symptom_sec_list {
  font-size: 20px;
  text-align: center;
  color: rgb(226, 226, 226);
}

.symptom_trd {
  background-color: #7c656e;
  padding: 20px 0;
  margin: 25px;
  border-radius: 10px;
}
.symptom_trd_title {
  font-size: 28px;
  text-align: center;
  color: white;
}

.symptom_border {
  overflow: hidden;
  width: 100%;
  border: 1px solid #c5c5c5;
  background-color: white;
}

.sypmtom_slider {
  display: flex;
  width: max-content;
  cursor: grab;
}

.sypmtom_hospital_list {
  display: flex;
  padding: 30px;
  margin: 0;
  list-style: none;
  /* 터치 스크롤 최적화 */
  -webkit-overflow-scrolling: touch;

  /* 터치 지연 제거 */
  touch-action: pan-x;

  /* 하드웨어 가속 */
  transform: translateZ(0);
  will-change: transform;

  /* 스크롤바 숨기기 (모바일) */
  -webkit-scrollbar: none;
  scrollbar-width: none;
}

.sypmtom_hospital_list > li {
  width: 350px;
  flex-shrink: 0;
  margin: 0 10px;
  border: 1px solid #c5c5c5;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  position: relative;
  padding-top: 30px;
}

.sypmtom_bookmark {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sypmtom_bookmark_img {
  width: 40px;
}

.sypmtom_bookmark_img.active {
  margin-top: -40px;
}

.symptom_recommend {
  padding: 20px 0;
  margin-top: 80px;
}
.sypmtom_bottom_img {
  margin-top: 50px;
  background-image: url("./../assets/hospital_background.png");
  background-size: cover;
  width: 100%;
  height: 450px;
}

.symptom_map {
  margin: 40px 50px 0px 50px;
  border-radius: 20px;
  overflow: hidden;
}
.sypmtom_hospital_reservation {
  border: none;
  padding: 15px;
  margin: 15px auto;
  display: block;
  width: 70%;
  font-size: 16px;
  background-color: #4481bb;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.sypmtom_hospital_reservation:hover {
  background-color: #6fa6da;
}
.sypmtom_list_address {
  font-size: 14px;
}
