.symptom_title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}
.symptom_subtitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.symptom_list {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.symptom_border {
  overflow: hidden;
  width: 100%;
  border: 1px solid #c5c5c5;
}

.sypmtom_slider {
  display: flex;
  width: max-content;
  cursor: grab;
}

.sypmtom_hospital_list {
  display: flex;
  padding: 30px;
  margin: 0;
  list-style: none;
}

.sypmtom_hospital_list > li {
  width: 350px;
  flex-shrink: 0;
  margin: 0 10px;
  border: 1px solid #c5c5c5;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  position: relative;
  padding-top: 30px;
}

.sypmtom_bookmark {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sypmtom_bookmark_img {
  width: 40px;
}

.sypmtom_bookmark_img.active {
  margin-top: -40px;
}
