/* App 컴포넌트 전용 스타일 */
.App {
  margin: 80px auto 250px;
  max-width: 600px;
}

@media (min-width: 1200px) {
  .App {
    max-width: 800px;
  }
}
.icon-lg {
  width: 4rem;
  height: 4rem;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}
